@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);  
}

*{padding: 0; margin: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
body {background-color: #252525;font-family: roboto, sans-serif;font-size: 14px;color:white;margin:0;margin-right:15px;overflow-x: hidden;}
h1,h2,h3,h4,h5,h6{font-family: inherit; margin: 0;line-height: 1.4;font-weight: 400;}
h1{font-size:30px}
h2{font-size:24px}
h3{font-size:20px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:12px}
a {outline: none;text-decoration: none;font-weight: 400;color:inherit;}
a:hover,a:focus{text-decoration: none;color:inherit}
ul {margin: 0; padding: 0;}
li {list-style: none;}
img { border:none;max-height: 100%;max-width: 100%;width: auto;height: auto}
section {
    margin-left:-15px!important;
    margin-right:-15px!important;
}

@media (max-width:575px){
    h1{font-size:20px}
    h2{font-size:18px}
    h3{font-size:16px}
    h4{font-size:14px}
    h5{font-size:12px}
    h6{font-size:10px}
}
//end default css -----------------------------------------------------

$main-color: #e6b31e;



.toggleMenu , .menu-close {
    display: none;
    background:white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: black;
    margin: 30px 0;
    z-index: 10000;
    transition: 500ms;
    width:50px;

    i {
        font-size:16px;
    }

    &:hover {
        color:black;
    }
}

.menu {
    position: fixed;
    z-index: 10;
    width:100%;
    color:white;
    height: 100px;

    .logo {
        margin:20px 0;
    }

    .main-menu {
        .nav {
            margin:20px 0;
            text-align: center;

            li {
                padding: 15px 20px;
                position: relative;

                .active {
                    color: $main-color;
                    border-bottom: 1px solid $main-color;
                }

                a {
                    font-weight: bold;
                    transition: .5s;
                    padding:10px 0;
                    border-bottom: 1px solid transparent;
                }

                ul {
                    text-align: left;
                    position: absolute;
                    left: 0;
                    width: 300px;
                    opacity: 0;
                    visibility: hidden;
                    transition: .5s;
                    background: #050505;
                    margin-top:25px;
                    transform: translateY(20%) skew(5deg);
                    transition-delay: .1s;
                }

                i {
                    padding-left:5px;
                }

                &:hover {
                    color: $main-color;
                    transition: 0;

                    ul {
                        opacity: 1;
                        visibility: initial;
                        transition: .5s;
                        color:white;
                        transform: none;
                    }

                    a {
                        border-bottom: 1px solid $main-color
                    }

                    li a {
                        border: none;
                        transition: none;
                    }
                }

                li {
                    border-bottom: 1px solid #383838;
                    transition: .5s;

                    &:last-child {
                        border-bottom: 0
                    }

                    &:hover {
                        color: white;
                        background: $main-color;
                    }

                }
                
                li a {
                    font-weight: 400;
                    padding: 15px 20px;
                    position: relative;
                    border: none;

                    &:hover {
                        color: white;
                    }
                }
            }
            
        }
    }

    .custom-header {
        margin:30px 0;

        a i {
            color: #4d4d4d;
            background: #e1e1e1;
            width:25px;
            height: 25px;
            line-height: 24px;
            text-align: center;
            margin-left:5px;
            border-radius: 50%;
            transition: 500ms;

            &:hover {
                background: $main-color;
                color: black;
            }
        }

        .badge-light {
            position: absolute;
            margin-left: -10px;
            border-radius: 50%;
            background: $main-color;
            color: white;
            margin-top: -5px;
        }

        .card-body {
            position: absolute;
            margin-top:23px;
            right:0;
        }
        
        .search-form {
            width:320px;
            background: none;
            border: 0;

            input {
                width:100%;
                height: 40px;
                padding-left:10px;
                background: #252525;
                color:white;
                border-radius: 30px;
                border: 1px solid #383838;
            }

            button {
                width:40px;
                height: 40px;
                position: absolute;
                right: 20px;
                background: $main-color;
                border: 0;
                cursor: pointer;
                border-radius: 30px;
                transition: .5s;

                &:hover {
                    background: black;
                    color: $main-color;
                }
            }
        }

        .cart-form {
            background: #252525;
            border: 1px solid #383838;
            position: absolute;
            width: 320px;
            right:15px;

            &-box-product {
                border-bottom: 1px solid #383838;
                padding-bottom: 10px;
                margin-bottom: 10px;

                &-img {
                    height: 100px;
                    float: left;
                    margin-right:10px;
                }

                &-detail {
                    text-align: left;

                    h5 {
                        transition: .5s;
                        margin-bottom:5px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical; 

                        &:hover {
                            color: $main-color;
                        }
                    }

                    h6 {
                        color: $main-color;
                        margin-bottom: 10px;
                    }
                }
            }

            h4 {
                text-align: left;
                margin-top: 10px;
                
                span {
                    float: right;
                }
            }

            &-btn {
                margin: {
                    top: 30px;
                    bottom: 10px;
                }

                a {
                    background: #050505;
                    color: #e1e1e1;
                    padding:10px 15px;
                    text-transform: uppercase;
                    margin:3px;
                    transition: .5s;

                    &:hover {
                        background: $main-color;
                        color: black;
                    }
                }
            }
        }
    }
}

.slider {
    position: relative;

    &-text {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(50%, -50%);

        h1 {
            margin-bottom: 20px;
            
            a {
                padding:5px 10px;
                border: 2px solid white;
                font-weight: bold;
                text-transform: uppercase;
                background: none;
                font-size: 30px;

                &:hover {
                    background: none;
                }
            }
        }

        p {
            font: {
                size: 40px;
                weight: bold;
            }
            
            margin-bottom: 20px;
        }
        
        a {
            color: black;
            background: $main-color;
            padding: 10px 20px;
            text-transform: uppercase;
            transition: .5s;

            font: {
                size: 16px;
                weight: bold;
            }

            &:hover {
                background: white;
                color: black;
            }
        }
    }

    .owl-theme .owl-dots{
        margin-top:-50px!important;
        z-index: 1;
        position: relative;
        background: none;
        
        .owl-dot span {
            border: 2px solid white;
            background: none;
            width:15px;
            height: 15px;
        }
    
        .owl-dot.active span , .owl-dot:hover span {
            background: $main-color;
            border:none;
        }
    }

    .owl-theme .owl-nav {
        button.owl-prev , button.owl-next {
            position: absolute;
            top: 40%;
            font-size: 50px;

            &:hover {
                background: $main-color;
            }
        }

        button.owl-prev {
            left: 3%
        }

        button.owl-next {
            right: 3%
        }
    }
}

.category {
    margin: 50px 0;
    margin-bottom:20px;

    .box-category {
        background: #383838;
        height: 250px;
        position: relative;
        overflow: hidden;
        margin-bottom:20px;

        &:hover img{
            transform: scale(1.2);
        }
        
        img {
            position: absolute;
            top: 10px;
            right: 0;
            transition: .5s;

        }

        h4 {
            margin: {
                top: 30px;
                left: 20px;
                bottom: 10px;
            }
            text-transform: uppercase;
            
            a {
                font-weight: bold;
                transition: .5s;

                &:hover {
                    color: $main-color;
                }
            }
        }

        ul {
            margin-left: 20px;

            li {
                padding-bottom: 5px;
                transition: .5s;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }
}

.service {
    background-image: url('../../public/img/bg-service.png');
    padding: 50px 0;
    margin-bottom: 50px;

    .box-service {
        i {
            width: 100px;
            height: 100px;
            line-height: 100px;
            border-radius: 50%;
            background: black;
            color: white;
            font-size: 40px;
            transition: .5s;
        }

        &-detail {
            padding: {
                top: 70px;
                bottom: 30px;
            }
            background: #383838;
            margin-top: -50px;
            transition: .5s;

            h3 {
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            h5 {
                color: #a9a9a9;
            }
        }

        &:hover {
            .box-service-detail {
                background: $main-color;
                color: black;

                h5 {
                    color: black;
                }
            }

            i {
                transform: rotateY(360deg) scale(1.2)
            }
        }
    }
}

.title-cate {
    h1 {
        margin-bottom: 30px;
        text-align: center;

        a {
            font-weight: bold;
            padding-bottom: 10px;
            border-bottom: 3px solid $main-color;
            text-transform: uppercase;
        }
    }
}

.box-product {
    border: 1px solid #383838;
    padding: 10px;
    margin: 10px 0;

    &-img {
        position: relative;
        margin-bottom: 15px;
        overflow: hidden;

        img {
            transition: .5s;
        }
        
        .custom-product {
            position: absolute;
            bottom: 10px;
            right: 10px;
            transform: translateX(150%);
            transition: .5s;

            i {
                display: block;
                width: 30px;
                height: 30px;
                line-height: 28px;
                text-align: center;
                background: black;
                color: #a9a9a9;
                margin-top:5px;
                transform: rotate(180deg);
                transition: .5s;

                &:hover {
                    background: $main-color;
                    color: black;
                }
            }
            
            .custom {
                &-quickview {
                    &::before {
                        content: 'Xem nhanh';
                        position: absolute;
                        right: 32px;
                        top: 5px;
                        background: black;
                        color:#cccccc;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 10px;
                        width:100px;
                        text-align: center;
                        transition: .5s;
                        opacity: 0;
                        visibility: hidden;
                    }

                    &:hover::before {
                        opacity: 1;
                        visibility: initial;
                    }
                }

                &-wishlist {
                    &::before {
                        content: 'Thêm vào yêu thích';
                        position: absolute;
                        right: 32px;
                        top: 40px;
                        background: black;
                        color:#cccccc;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 10px;
                        width:150px;
                        text-align: center;
                        transition: .5s;
                        opacity: 0;
                        visibility: hidden;
                    }

                    &:hover::before {
                        opacity: 1;
                        visibility: initial;
                    }
                }

                &-cart {
                    &::before {
                        content: 'Thêm vào giỏ';
                        position: absolute;
                        right: 32px;
                        top: 75px;
                        background: black;
                        color:#cccccc;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 10px;
                        width:120px;
                        text-align: center;
                        transition: .5s;
                        opacity: 0;
                        visibility: hidden;
                    }

                    &:hover::before {
                        opacity: 1;
                        visibility: initial;
                    }
                }
            }
        }

        &:hover {
            .custom-product {
                transform: none;
                z-index: 1;
                transition: .5s;
            }

            i {
                transform: none;
            }
        }
    }

    &-detail {
        h5 {
            color: #cccccc;
            margin-bottom: 10px;
            transition: .5s;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical; 

            &:hover {
                color: $main-color;
            }
        }

        h4 {
            color: $main-color;
            font-weight: bold;
            margin-bottom:10px;

            span {
                color: #a9a9a9;
                margin-left: 20px;
                text-decoration: line-through;
                font-weight: 400;
            }
        }

        p {
            margin-bottom: 10px;

            i {
                color: $main-color;
            }
        }
    }
    
}

.best-seller {
    margin-bottom: 50px;

    .owl-theme .owl-dots{
        margin-top:20px!important;
        z-index: 1;
        position: relative;
        background: none;
        outline: none;
        transition: .5s;
        
        .owl-dot span {
            border: 2px solid white;
            background: none;
            width:15px;
            height: 15px;
            transition: .5s;
            outline: none;
        }
    
        .owl-dot.active span , .owl-dot:hover span {
            background: $main-color;
            border:none;
        }
    }

    .owl-theme .owl-nav {
        button.owl-prev , button.owl-next {
            position: absolute;
            top: 35%;
            font-size: 50px;
            color: $main-color;
            outline: none;
            transition: .5s;

            &:hover {
                background: none;
                color: white;
                outline: none;
            }
        }

        button.owl-prev {
            left: 0
        }

        button.owl-next {
            right: 0
        }
    }
}

.partner {
    background: #383838;
    padding: 30px 0;
}





//media ------------------------------------------------

@media (max-width:1200px) {
    body {
        margin-left:15px;
    }

    .toggleMenu , .menu-close {
        display: block;
    }
    
    .menu {
        .main-menu {
            .nav {
                display: block;
                text-align: left;
                background: #050505;
                position: absolute;
                width:320px;
                margin-top:-30px;
                transform: translateX(-150%);
                transition: 500ms;
                height: 260px;
                overflow: scroll;
                overflow-x: hidden;

                li {
                    display: block;
                    border-bottom: 1px solid #383838;

                    i {
                        float: right;
                    }

                    &:hover {
                        a {
                            border-bottom:0;
                        }
                    }

                    ul {
                        margin: {
                            left: -10px;
                            top: 15px;
                        }
                        
                        li {
                            border: {
                                top: 1px solid #383838;
                                bottom: 0;
                            }
                        }
                    }

                    .active {
                        border-bottom: 0;
                    }
                }
            }
        }

        &-close {
            display: none;
        }
    }

    .slider-text{
        display: none;
    }

    .custom-product {
        opacity: 1!important;
        visibility: initial;
        transform: none!important;

        i {
            transform: none!important;
        }
    }
}

@media (max-width:992px) {
    
}

@media (max-width:767px) {
    
}

@media (max-width:575px) {
    .toggleMenu, .menu-close {
        margin: 15px 0;
    }

    .menu {
        top: 0;
        background: black!important;
        height: 70px;
        
        .custom-header {
            margin: 22px 0;
        }

        .main-menu {
            .nav {
                margin-top:0px;
            }
        }
    }

    article {
        padding-top: 50px;
    }
}